.van--length {
    .van-field__error-message {
        position: absolute;
        top: 0;
        left: 100px;
    }

    .van-field__label {
        color: rgb(253, 253, 253);
    }

    .van-field__control {
        color: #ccc;
    }

    .van-field__control::placeholder {
        color: #c4c4c4;
    }

    .van-cell:after {
        border: 0
    }
}

.van--color {

    .van-icon,
    .van-icon:before {
        color: #000;
        font-size: 20px;
    }

    .van-search__content--square {
        background-color: #fff;
    }

    .van-index-bar__index {
        color: #52CDDE;
        font-size: 15px;
        margin-top: 7px;
    }

    .van-index-bar__sidebar {
        margin-top: 45px;
    }

    .van-tab {
        flex-basis: 30% !important; 
    }

    .van-tab__pane,
    .van-tab__pane-wrapper {
        margin-bottom: 50px;
    }

    .van-tabs--line .van-tabs__wrap {
        height: 11.733vw;
        position: fixed;
        width: 292px;
        height: 58px;
    }
   
}

.van--tabbar--width{
    .van-tabbar{
        z-index: 999;
    }
    .van-tab {
        flex-basis: 20% !important; 
    }
    .van-button--large{
        width: 90%;
        margin-left: 5%;
    }

}
.van--tabbar--top{
    .van-hairline--top-bottom{
        width: 86%;
        margin-top: -30px;
        margin-left: 8%;
        border-radius: 5px;
        box-shadow: 3px 2px 15px 1px rgb(202, 202, 202);
    }
    .van-tab__pane{
        margin-top: 15px;
    }
}