.van--length{
    .van-field__error-message{
        position: absolute;
        top: 0;
        left: 100px;
    }
    .van-field__label{
        color: #ccc;
    }
    .van-field__control{
        color: #ccc;
    }
    .van-field__control::placeholder{
        color: #a1a1a1;
    }
}